*{
  margin:0;
  padding:0;
  font-family:"Times New Roman", Times, serif;
}
body{
  background-color:#FFFFFF;
}
#wrapper{
  width : 780px;
  margin: 0 auto;
  overflow: hidden;
}
#header{
  //background: url(images/logo.png) repeat-x #555;
  height : 110px;
  width : 100%;
  padding:5px;
  margin : 5px 0;
  overflow : hidden;
}
#header fieldset{
padding-left::20px;
border:none;
}
#header img{
  margin-top:5px;
  height:110px;
  width:100px;
}
#box-header{ width:360px; height:30px; background:#333333; color:#FFFFFF; float:right; margin-top:35px; padding-top:10px; padding-left:10px;}
#menu{
  //background: url(images/logo.png) repeat-x #555;
  display:block;
  background-color:#CCCCCC;
  height : 35px;
  width : 98.5%;
  padding:5px;
  margin : 10px 0;
  overflow : hidden;
  border:1px solid #000000;
}
#menu fieldset{
width:178px;
border:none;
}

#menu li{
  float:left;
  padding:3px 20px;
  border-right:1px solid #999999;
  list-style:none;
}
#menu li a{
  color : black;
  font-family:"Times New Roman", Times, serif;
  text-decoration:none;
}
#menu li a:hover{ 
	color:#00CCFF;
}

#menu form{
  float:right;
  margin-top:5px;
  margin-right: 20px;
}
#menu form input{
  border:none;
  height:20px;
}


#list-artikel{
  width:550px;
  //margin-top:-10px;
  float:right;
  //background-color:#00FF99;
}
#list-artikel .box-left{
	display:block;
	float:left;
	width:425px;
	margin-bottom:10px;
	padding:0;
	}
#list-artikel .box-right{
	display:block;
	float:right;
	width:125px;
	margin-bottom:1px;
	padding:0;
	}
#list-artikel .footbox{
	display:block;
	float:left;
	width:550px;
	margin:0 40px 0 0;
	padding:0;
	}

#list-artikel .flickr li{
	display:block;
	float:left;
	width:120px;
	font-size:12px;
	height:170px;
	margin:0 7px 15px 0;
	padding:4px;
	border:1px solid #666666;
	}
#list-artikel .flickr img{
  margin-top:-2px;
  height:100px;
  width:120px;
}

.artikel{
  background:#ffffff;
 // padding:10px;
  margin-bottom:20px;
  overflow:hidden;
}
.artikel img{
  float:left;
  margin-right:10px;
  width:200px;
  height:165px;
}
.artikel b{
  color:#616060;
  background:#DDDDDD;
  padding:3px;
  font-size:12px;
  font-weight:bold;
  margin-right:10px;
}
.artikel p{
  margin:10px 0;
  font-size:14px;
  text-align:justify;
}
.artikel a{
  display:block;
  text-align:right;
  color:#636363;
}
#box-login{
	display:block;
	float:left;
	width:100%;
	text-align:center;
	background:#CCCCCC;
	margin-bottom:10px;
	height:23px;
	border:1px solid #000000;
}
#box-category{
	display:block;
	float:left;
	width:100%;
	text-align:center;
	background:#CCCCCC;
	margin-bottom:10px;
	height:23px;
	border:1px solid #000000;
}

#box-lates{
	display:block;
	float:left;
	width:99.5%;
	text-align:center;
	background:#CCCCCC;
	margin-bottom:10px;
	height:20px;
	border:1px solid #000000;
}
#box-detail{
	display:block;
	float:left;
	width:99.5%;
	text-align:left;
	margin-bottom:10px;
	height:150px;
	border:1px solid #000000;
}
#box-detail .second-content{
  display:block;
  height:auto;
  border-bottom-style:dotted;
  font-size:14px;
  margin:5px;
}



#sidebar{
  width:220px;
  float:left;
}
#sidebar h2{
  font-size:18px;
  margin:10px 0;
}
#sidebar p{
  line-height:20px;
  color : #636363;
}
#sidebar ul{
  margin-left:10px;
  
}
.tes{
border-bottom:dotted;
}
#sidebar ul li{
  
  color:#636363;
  text-decoration:none; 
}
#sidebar li a{ 
	//padding:5px 10px;
	text-decoration: none;
	color:black;
}
#sidebar form{
  float:left;
  margin-top:5px;
  margin-bottom:10px;
  //margin-right: 20px;
}
#sidebar form input{
  height:20px;
  width:140px;
  margin-bottom:10px;
}
#sidebar .flickr{
	display:block;
	float:left;
	width:100%;
	height:100px;
	margin-bottom:10px;
	border:1px solid #000000;
}
#sidebar .flickr fieldset{
	width:250px;
	border:none;
}


#sidebar ul li ul li{
  border-bottom:dotted;
  list-style:none;
  padding-left:20px;
  color:#636363;
  text-decoration:none; 
}
#sidebar ul li ul li a{ 
	//padding:5px 10px;
	text-decoration: none;
	color:#0000FF;
}

#sidebar ul li ul li a:hover{
	//padding:5px 10px;
	text-decoration: none;
	color:black;
}

#menu-footer{
  //background: url(images/logo.png) repeat-x #555;
  display:block;
  background-color:#666666;
  height : 25px;
  width : 100%;
  padding:5px;
  margin : 3px 0;
  overflow : hidden;
  border:1px solid #000000;
}

#menu-footer li{
  float:left;
  padding:1px 47px;
  border-right:1px solid #000000;
  list-style:none;
}
#menu-footer li a{
  color : white;
  font-family:"Times New Roman", Times, serif;
  text-decoration:none;
}
#menu-footer li a:hover{ 
	color:#00CCFF;
}

#footer{
  clear:none;
  margin:1px 0;
  text-align:center;
 // background-color: #f0f0f0;
  padding:5px;
  color:#555555;
}
.button {
    font-family: Arial;
    background: linear-gradient(to bottom, #0099FF 0%, #00CCFF 100%) repeat scroll 0 0 transparent;
    border: 1px solid #0033FF;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
	float:right;
    padding: 5px 8px !important;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    vertical-align: baseline;
}
.button-detail {
	float:right;
    font-family: Arial;
    background: linear-gradient(to bottom, #0099FF 0%, #00CCFF 100%) repeat scroll 0 0 transparent;
    border: 1px solid #0033FF;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    color: #FFFFFF;
	margin-top:10px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 10px !important;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    vertical-align: baseline;
}
#copyright{
color:#0099FF;
}
.font-white{
color:#FFFFFF;
}
