/* CSS Document */
body{font-family: 'Changa One', cursive;margin:0;padding:0}

#page-one { 
	
	background: url("../images/silho.jpg");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:100% 0; 
	position:relative;
	min-height:1080px;
}
#page-one img{
  margin-top:80px;
  margin-left:500px;
  position:fixed;
  //height:110px;
  //width:100px;
}
#page-one p img{
  background: url("../images/html-tutorial.png");
  margin-top:300px;
  margin-left:580px;
  position:fixed;
  //height:110px;
  //width:100px;
}
 
#page-two { 
	
	background: url("../images/city.jpg");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:100% 0; 
	position:relative;
	min-height:1080px;
}
#page-two .sidebar{
	display:block;
	background-color:#000000;
	float:left;
	width:500px;
	height:auto;
	margin-top:80px;
	margin-left:100px;
	border:1px solid #000000;
}
#page-two .sidebar h1{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin-left:20px;
	color:#FFFFFF;
}
#page-two .sidebar p{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin-left:20px;
	margin-right:20px;
	color:#FFFFFF;
	font-size:14px;
	text-align:left;
}
#page-two .sidebar-audio{
    display:block;
	float:left;
	width:500px;
	height:auto;
	margin-top:300px;
	margin-left:200px;
}
#page-three { 
	background: url("../images/green_grass.jpg");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:100% 0; 
	position:relative;
	min-height:1080px;
}
#page-three img{
  margin-top:60px;
  position:absolute;
  margin-left:100px;
  //margin-left:10px;
  //position:fixed;
}
#page-three .sidebar{
	display:block;
	background-color:#000000;
	float:left;
	width:500px;
	height:auto;
	margin-top:120px;
	margin-left:100px;
	border:1px solid #000000;
}
#page-three .sidebar h1{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin-left:20px;
	color:#FFFFFF;
}
#page-three .sidebar p{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin-left:20px;
	margin-right:20px;
	color:#FFFFFF;
	font-size:14px;
	text-align:left;
}
#page-three .sidebar-video{
    display:block;
	float:left;
	width:420px;
	padding-left:100px;
	padding-bottom:30px;
	background-color:#FF0000;
	height:auto;
	margin-top:180px;
	margin-left:150px;
}
#page-three .sidebar-video video{
    width:320px;
	height:240px;
}
#page-thanks { 
	
	background: url("../images/black.jpg");
	//background-color:#333333;
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:100% 0; 
	position:relative;
	min-height:1080px;
}
#page-thanks img{
  margin-top:600px;
  position:inherit;
  margin-left:500px;
  //margin-left:10px;
  //position:fixed;
}