body {
  text-align: center;
  background-color:#f0fcff;
}
.box {
  text-align: left;
  background: #eee;
  margin-bottom: 10px;
  margin-top:5px;
}
.member a{
  text-align:right;
  text-decoration:none;
  color:#00FFCC;
  font-size:12px;  
}
.member a{
  height:300px;
}
.form label{
float:left;
margin-top:3px;
}
.form input{
width:155px;
float:right;
}
.form a{
float:left;
}
.register-offer{
margin-left:81.3px;
float:left;
margin-top:-7px;
}
.box-warning{
  background-color:#FFCC00; 
  float:left;
  height:20px;  
  margin-left:10px;
  padding-right:3px;
  padding-top:3px;
}
.box-warning label{
  margin-left:10px;
}
#navigation{
margin-top:27px;
height:70px;
background:url(../../images/navigation.png) repeat-x;
text-align:center;
}
#navigation ul { list-style:none; transition: } 
#navigation ul a{ text-decoration:none; color:#000000; transition:}
#navigation ul a:hover{ text-decoration:none; color:#FFFFFF; transition: ease-in 0.2s;}
#navigation li { 
  float:left; 
  //width:140px;
  height:20px;
  text-align:center;
  border-right:2px dotted #FFFFFF;
  font-size:16px;
  marker-top:-50px;
  padding-right:35px;
  //background-color:#CC0000;
  color:#000000;
  font-family:"Times New Roman", Times, serif;
  text-decoration:none;
}
#navigation li:hover{ 
  float:left; 
  //width:140px;
  height:20px;
  text-align:center;
  border-right:1px solid #999999;
  font-size:16px;
  padding-right:35px;
  //background-color:#CC0000;
  color:#FFFFFF;
  font-family:"Times New Roman", Times, serif;
  text-decoration:none;
}  
#content{
margin-top:-35px;
height:360px;
//background: -moz-linear-gradient(top, #35425d 0%, #fff 100%);
//background: -webkit-gradient(linear, left bottom, left top, from(grey), to(#fff));
background:url(../../images/bg-main-center.png) no-repeat;
//margin-left:200px;
text-align:center;
}
#content a{
float:right;
margin-left:10px;
}
.li{
margin-bottom:20px;
}
#bottom{
margin-top:-10px;
height:150px;
background:#FFFFFF;
text-align:center;
}
.box-feature{
  //background-color:#CCCCCC; 
  width:auto;  
  height:auto;  
  color:#00FFFF;
  border-radius:3px;
  margin-top:20px;
  border:1px solid #00FF99;
}
.box-feature label{
  margin:5px;
  color:#00FFFF;
  font-size:20px;
  border-bottom::1px dashed #000000;
}
.box-feature img{
  //margin:5px;
  float:right;
  height:35px;
  color:#00FFFF;
}
.box-feature p{
color:#000000;
border-top:dotted #000000;
margin:5px;
}
#copyright{
height:70px;
background:url(../../images/bg-copyright.png) repeat-x;
text-align:center;
color:#FFFFFF;
}
.p{
color:#FFFFFF;
padding-top:6px;
text-align:center;
}
.img{
background-color:#3aa1da;
float:right;
width:219.5px;
margin-right:7px;
margin-top:-8px;
padding-top:7px;
}
.img a{
font-size:18px;
text-align:center;
color:#FFFFFF;
margin-bottom:100px;
text-decoration:none;
}
.latest{
margin-top:10px;
border-radius:2px;
}
.latest img{
background:url(../../images/bg-detail.png) repeat-x;
width:287px;
height:50px;
border-radius:5px;
margin-top:-5px;
}
.latest-box{
display:block;
width:285px;
margin-top:-5px;
border:1px groove #000000;
}
.latest-box label{
display:block;
width:270px;
color:#000000;
margin-left:5px;
margin-top:10px;
margin-right:15px;
margin-bottom:10.5px;
border-bottom:1px dotted;
}
.latest-box label a{
display:block;
color:#00FFCC;
float:right;
margin-right:20px;
font-size:12px;
border-bottom::1px dotted #000000;
}

