@charset "utf-8";
/* CSS Document */

*{
  margin:0;
  padding:0;
  font-family:Arial, Helvetica, sans-serif;
}
body{
  background:url(../images/background.jpg);
}
#wrapper{
  width : 1100px;
  margin: 40px auto;
  overflow: hidden;
}
#header{
  //background-color:#FFFFFF;
  height : 110px;
  width : 100%;
  padding:5px;
  margin : 5px 0;
  overflow : hidden;
}
#header a{
color:#FFFFFF;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
text-decoration:none;
margin-left:15px;
}
#menu{ 
  //border: 5px solid #CC0000;
  background-color:#CC0000; 
  width:69.5%;  
  height:50px;     /* Opera */ 
  border-radius:40px;         /* IE 7, 8 */
  box-shadow:1px -3px 15px 2px;
  margin-left:8px;
  padding-left:210px;
  padding-right:110px;
}
#menu ul { list-style:none; transition: ease-in 0.5s;} 
#menu ul a{ text-decoration:none; color:#FFFFFF; transition: ease-in 0.5s;}
#menu li {  
  padding-right:100; 
  padding-top:15px;
  float:left;
  width:140px;
  height:35px;
  text-align:center;
  font-size:18px;
  background-color:#CC0000;
  color : white;
  font-family:"Times New Roman", Times, serif;
  text-decoration:none;
  border-radius:10px;
  transition: ease-in 0.5s;
}
#menu li:hover{ 
  display:block; 
  background: -moz-linear-gradient(top, red 0%, #fff 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(red), to(#CC0000)); 
  
  height:auto; 
  width:140px; 
  height:35px; 
  color:#000000;
  transition: ease-in 0.5s;
}  
#menu li ul { display:none; position:absolute; transition: ease-in 0.5s;} 
#menu li ul a{ text-decoration:none; color:#FFFFFF; transition: ease-in 0.5s;}
#menu li:hover ul{
  margin-top:13px; 
  display:block;    
  height:auto; 
  width:140px; 
  height:35px; 
  color:#000000; 
  transition: ease-in 0.5s;
} 
#menu li ul li{ clear:both; border-style:none; transition: ease-in 0.5s;}

#article{
  width:700px;
  margin-top:60px;
  margin-bottom:30px;
  float:left;
  //background-color:#CCCCCC;
}
#article .box{
  background-color:#CCCCCC; 
  width:670px;  
  height:300px;     /* Opera */ 
  border-radius:15px;
  margin-left:10px;
  margin-top:30px;
  padding-top:20px; 
  box-shadow:2px -3px 15px 3px;
}
#article .box p{
  width:600px;  
  height:auto;
  margin-top:30px;
  font-size:14px;
  text-align:justify;
}
#article .label-box{
  background-color:#33CC00; 
  width:600px;  
  height:50px;  
  border-radius:10px;
  margin:10px 0 0 35px;
  box-shadow:2px -3px 15px 3px;
}
#article .label-box-date{
  background-color:#009900; 
  width:100px;  
  height:50px;
  margin-top:-46px;
  border-radius:10px 0 0 10px;
}
#article .year{
  width:20px;  
  height:20px;
  padding-left:-5px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  margin-top:22px;
  margin-left:10px;
  color:#FFFFFF;
  float:left;
  //border-radius:10px 0 0 10px;
}
#article .day{
  color:#FFFFFF;
  width:60px;  
  height:25px;
  text-align:center;
  float:right;
  //border-radius:10px 0 0 10px;
}
#article .month{
  color:#FFFFFF;
  width:60px;  
  text-align:center;
  height:25px;
  float:right;
  //border-radius:10px 0 0 10px;
}


#article .label-box-counter{
  background-color:#003300; 
  width:70px;  
  height:33px;
  color:#FFFFFF;
  font-size:18px;
  text-align:center;
  padding-top:17px;
  float:right;
  margin-top:-50px;
  border-radius:10px;
}
#article .label-box h1{
  color:#FFFFFF;
  margin-left:110px;
  //margin-top:-50px;
  padding-top:7px;
}
#article .label-box-foot{
  background-color:#CCCCCC; 
  float:left;
  position:absolute;
  width:420px;  
  height:48px;  
  border-radius:10px;
  margin:20px 0 0 0;
}
#article .label-box-foot h4{ 
  margin-left:10px;
  font-size:13px;
  padding-top:3px;
  //font-variant:small-caps;
} 
#article .label-box-foot p{ 
  margin-left:10px;
  margin-top:5px;
  font-size:13px;
  //font-variant:small-caps;
} 
#article .label-box-foot p label{ 
  margin-left:5px;
  color:#FF0000;
  margin-top:-17px;
  padding:5px;
  font-size:13px;
} 
#article .label-box-foot p label:hover{ 
  background-color:#FF0000;
  color:#FFFFFF;
  padding:5px;
  width:170px;
  transition: ease-in 0.5s;
} 

#article .label-box  a{
    background: linear-gradient(to bottom, #CC0000 0%, #CC0000 100%) repeat scroll 0 0 transparent;
    border: 1px solid #333333;
    border-radius: 0.7em 0.7em 0.7em 0.7em;
    color: #FFFFFF;
    cursor: pointer;
	margin-top:20px;
	float:right;
    display: inline-block;
    padding: 13px 35px !important;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    vertical-align: baseline;
}
#article .label-box a:hover{
    background: linear-gradient(to bottom, #CC0000 0%, #000000 100%) repeat scroll 0 0 transparent;
    border: 1px solid #333333;
    border-radius: 0.7em 0.7em 0.7em 0.7em;
    color: #FFFFFF;
    cursor: pointer;
	margin-top:20px;
	float:right;
    display: inline-block;
    padding: 13px 40px !important;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    vertical-align: baseline;
	transition: ease-in 0.5s;
}


#sidebar{
  margin-top:60px;
  width:360px;
  float:right;
  //background-color:#333333;
}
#sidebar .boxx{
  background-color:#CCCCCC; 
  width:350px;  
  height:auto;     /* Opera */ 
  border-radius:15px;
  margin-left:5px;
  margin-top:30px; 
  padding-bottom:10px;
  padding-top:20px;
  box-shadow:2px -3px 15px 3px;
}

#sidebar .label-box{
  background-color:#33CC00; 
  width:303px;  
  height:35px;     /* Opera */ 
  border-radius:10px;
  margin:10px 0 0 25px;
  box-shadow:2px -3px 15px 3px grey;
}
#sidebar .count-twitter{
  background-color:#CCCCCC; 
  width:303px;  
  height:40px;     /* Opera */ 
  border-radius:10px;
  margin:25px 0 0 25px;
  
}
#sidebar .count-twitter-left{
  background-color:#00CCCC; 
  width:80px;  
  height:30px;     /* Opera */ 
  border-radius:10px;
  color:#FFFFFF;
  text-align:center;
  padding-top:11px;
  box-shadow:0px 2px 10px 4px grey;
}
#sidebar .count-twitter-right{
  background-color:#FFFFFF; 
  width:218px;  
  margin-top:-38px;
  margin-left:78px;
  border-radius:5px;
  height:25px;
  padding-left:10px;
  padding-top:11px;
  box-shadow:0px 2px 10px 4px grey;
}
#sidebar .count-rss{
  background-color:#CCCCCC; 
  width:303px;  
  height:35px;     /* Opera */ 
  border-radius:10px;
  margin:10px 0 40px 25px;
  
}
#sidebar .count-rss-left{
  background-color:#FF6600; 
  width:80px;  
  height:30px;     /* Opera */ 
  border-radius:10px;
  color:#FFFFFF;
  text-align:center;
  padding-top:11px;
  box-shadow:0px 2px 10px 4px grey;
}
#sidebar .count-rss-right{
  background-color:#FFFFFF; 
  width:218px;  
  margin-top:-38px;
  margin-left:78px;
  border-radius:5px;
  height:25px;
  padding-left:10px;
  padding-top:11px;
  box-shadow:0px 2px 10px 4px grey;
}
#sidebar p { 
  color: #f00; 
 } 
#sidebar p a{ 
  color: #f00;
  text-decoration:none; 
 } 
#sidebar p a:hover{ 
  text-decoration:underline;
  transition: ease-in 0.5s;
 } 
#sidebar p label { 
  color: #000000; 
 } 
#sidebar label{
  color:#FF0000;
  margin-left:10px;
  margin-top:50px;  
}
#sidebar label a{
  color:#FF0000;
  text-decoration:none;
}
#sidebar label a:hover{
  text-decoration:underline;
  transition: ease-in 0.5s;
}
#sidebar .label-box h3{
  color:#FFFFFF;
  margin-left:20px;
  padding-top:5px;
}
#sidebar .iphone{
  background-color:#CCCCCC; 
  width:303px;  
  height:auto;     /* Opera */ 
  border-radius:10px;
  margin:10px 0 40px 25px;
}
#sidebar .label-box-apple{
  background-color:#33CC00; 
  width:303px;  
  height:auto;     /* Opera */ 
  border-radius:10px;
  margin:20px 0 35px 25px;
  text-align:center;
  font-style:italic;
  padding-top:15px;
  color:#FFFFFF;
  padding-bottom:15px;
  box-shadow:2px -3px 15px 3px grey;
}
#sidebar .iphone ul li{
  border-bottom:double;
  list-style:none;
  padding-left:20px;
  color:#636363;
  text-decoration:none; 
}
#sidebar .iphone ul li a{ 
	//padding:5px 10px;
	text-decoration: none;
	color:#FF0000;
	transition: ease-in 0.5s;
}

#sidebar .iphone ul li a:hover{
	//padding:5px 10px;
	margin-left:10px;
	text-decoration: none;
	color:#FF0000;
	transition: ease-in 0.5s;
}

#footer{
  //background: url(images/logo.png) repeat-x #555;
  display:block;
  //background-color:#666666;
  height : auto;
  width : 100%;
  padding:5px;
  overflow : hidden;
  //border:1px solid #000000;
}
#footer .box-popular{
  background-color:#CCCCCC; 
  width:350px;  
  height:auto;     /* Opera */ 
  border-radius:10px;
  margin-left:5px;
  float:left;
  padding-bottom:10px;
  padding-top:20px;
  box-shadow:2px -3px 15px 3px;
}
#footer .box-popular-det{
  background-color:#CCCCCC; 
  width:290px;  
  height:auto;     /* Opera */ 
  padding:5px 0 0 10px;;
  margin:15px 0 20px 25px;
}
#footer .box-popular-det ul li{
  border-bottom:groove;
  list-style:none;
  //padding-left:20px;
  color:#636363;
  text-decoration:none; 
  transition: ease-in 0.5s;
}
#footer .box-popular-det ul li a{ 
	//padding:5px 10px;
	text-decoration: none;
	color:#FF0000;
	transition: ease-in 0.5s;
}

#footer .box-popular-det ul li a:hover{
	//padding:5px 10px;
	margin-left:10px;
	text-decoration: none;
	color:#333333;
	transition: ease-in 0.5s;
}
#footer .box-recent{
  background-color:#CCCCCC; 
  width:350px;  
  height:auto;     /* Opera */ 
  border-radius:10px;
  margin-left:15px;
  padding-bottom:10px;
  padding-top:20px;
  box-shadow:0px 2px 10px 4px grey;
  float:left;
}
#footer .box-recent-det{
  background-color:#CCCCCC; 
  width:290px;  
  height:auto;     /* Opera */ 
  padding:5px 0 0 10px;;
  margin:15px 0 20px 25px;
}
#footer .box-recent-det ul li{
  border-bottom:groove;
  list-style:none;
  //padding-left:20px;
  color:#636363;
  text-decoration:none; 
  padding-top:5px;
}
#footer .box-recent-det ul li p{
  text-align:right;
  font-size:12px;
  font-weight:bold;
  color:#000000;
  padding-top:5px;
}
#footer .box-recent-det ul li label{
  text-align:right;
  font-size:12px;
  color:#000000;
  font-weight:normal;
}
#footer .box-recent-det ul li a{ 
	//padding:5px 10px;
	text-decoration: none;
	color:#FF0000;
	transition: ease-in 0.5s;
}

#footer .box-recent-det ul li a:hover{
	//padding:5px 10px;
	margin-left:10px;
	text-decoration: none;
	color:#333333;
	transition: ease-in 0.5s;
}
#footer .box-about{
  background-color:#CCCCCC; 
  width:350px;  
  height:auto;     /* Opera */ 
  border-radius:10px;
  margin-left:15px;
  padding-bottom:10px;
  padding-top:20px;
  box-shadow:0px 2px 10px 4px grey;
  float:left;
}
#footer .box-about p{
  background-color:#CCCCCC; 
  width:300px;  
  text-align:justify;
  height:auto;     /* Opera */ 
  //padding:5px 0 0 10px;;
  margin:15px 0 20px 25px;
}
#footer h3{
  background-color:#33CC00; 
  width:290px;  
  height:35px;     /* Opera */ 
  border-radius:10px;
  padding:5px 0 0 10px;;
  margin:2px 0 5px 25px;
  color:#FFFFFF;
  box-shadow:0px 2px 10px 4px grey;
}

#copyright{
  display:block; 
  height : auto;
  width : 100%;
  
  text-align:center;
  padding:5px;
  overflow : hidden;
  margin-top:20px;
}
#copyright p{
  font-size:14px;
}
#copyright p label{
  font-weight:bold;
}

