@charset "utf-8";
/* CSS Document */
*{
  margin:0;
  padding:0;
  font-family:Arial, Helvetica, sans-serif;
}
body{
  background:url(../images/background.jpg);
}
#wrapper{
  width : 960px;
  margin: 0px auto;
  overflow: hidden;
  //background-color:#00FF00;
}
#header img{
  background-color:#FFFFFF;
  height : 110px;
  width : 200px;
  padding:5px;
  float:left;
  margin : 0px 10px;
  overflow : hidden;
}
#menu{ 
  //border: 5px solid #CC0000;
  //background-color:#CC0000; 
  width:720px;  
  //float:right;
  height:120px;     /* Opera */ 
  margin-top:10px;
  overflow : hidden;
  //border:1px solid #000000;
}
#menu ul { list-style:none; transition: ease-in 0.5s;} 
#menu ul a{ text-decoration:none; color:#000000; transition: ease-in 0.5s;}
#menu ul a:hover{ text-decoration:none; color:#FFFF00; transition: ease-in 0.5s;}
#menu li {  
  //padding-right:100; 
  padding-top:10px;
  float:right;
  width:140px;
  height:25px;
  text-align:center;
  margin-top:85px;
  border-right:1px solid #999999;
  font-size:16px;
  //background-color:#CC0000;
  color:#000000;
  font-family:"Times New Roman", Times, serif;
  text-decoration:none;
}
#menu li:hover{ 
  display:block; 
  background: -moz-linear-gradient(top, red 0%, #fff 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(red), to(#CC0000)); 
  height:auto; 
  width:140px; 
  height:35px; 
  color:#FFFF00;
  transition: ease-in 0.5s;
}  
#article{
  width:620px;
  margin-top:40px;
  margin-left:10px;
  margin-bottom:30px;
  float:left;
  //background-color:#CCCCCC;
}
#article h1{
  font-size:2.2em;
  color:#0000FF;
}
#article h5{
  font-size:1em;
  font-style:italic;
  font-weight:bold;
  color:#009900;
}
#article h2{
  font-size:1em;
  color:#0000FF;
  font-weight:bold;
  margin-top:30px;
  border-bottom:groove #000000;
  width:620px;
}
#article p{
  color:#000000;
  text-align:left;
}
#article p img{
  color:#000000;
  width:100px;
  margin-top:5px;
  margin-right:5px;
  height:100px;
  float:left;
}
#article .read-more{
  display:block;
  width:620px;
  height:25px;
  background-color:#FF0000;
  margin-bottom:10px;
  margin-top:10px;
  text-align:right;
}
#article .read-more a{
  font-size:14px;
  margin-right:20px;
  text-decoration:none;
  color:#FFFF00;
}
#article .read-more a:hover{
  font-size:14px;
  margin-right:10px;
  text-decoration:none;
  color:#0000FF;
  margin-right:10px;
  transition: ease-in 0.2s;
}
#article h3{
  font-size:2em;
  color:#0000FF;
}
#article h4{
  font-size:0.8em;
  font-style:italic;
  font-weight:bold;
  color:#009900;
}



#sidebar{
  margin-top:40px;
  width:300px;
  margin-right:10px;
  float:right;
  //background-color:#333333;
}
#sidebar img{
  width:225px;
  height:150px;
  margin-left:40px;
  margin-top:10px;
}
#sidebar h2{
  font-size:1em;
  color:#0000FF;
  font-weight:bold;
  margin-top:20px;
  border-bottom:groove #000000;
  width:300px;
}
#sidebar .event{
  color:#0000FF;
  margin-top:10px;
  margin-left:-40px;
  width:300px;
}
#sidebar .event img{
  color:#0000FF;
  width:70px;
  height:70px;  
}
#sidebar .event h3{
  color:#0000FF;
  font-size:1.7em;
  margin-top:-80px;
  margin-left:120px;
}
#sidebar .event label{
  color:#009900;
  font-size:0.8em;
  margin-left:120px;
}
#sidebar .event p{
  color:#000000;
  margin-left:120px;
  font-size:14px;
}
#sidebar .show-more{
  display:block;
  width:300px;
  height:20px;
  margin-left:40px;
  //background-color:#FF0000;
  margin-bottom:10px;
  margin-top:10px;
  text-align:right;
  border-bottom:groove;
}
#sidebar .show-more a{
  font-size:14px;
  margin-right:20px;
  text-decoration:none;
  color:#FF0000;
}
#sidebar .show-more a:hover{
  font-size:14px;
  margin-right:10px;
  text-decoration:none;
  color:#0000FF;
  margin-right:10px;
  transition: ease-in 0.2s;
}

#footer{
  display:block;
  border-top:groove;
  height : auto;
  width : 100%;
  padding:5px;
  overflow : hidden;
  //border:1px solid #000000;
}
#copyright{
  display:block; 
  height : auto;
  width:200px; 
  float:left;
  text-align:left;
  padding:5px;
  overflow : hidden;
  margin-top:-10px;
}
#copyright p{
  font-size:14px;
}
#menu-footer{
  //background: url(images/logo.png) repeat-x #555;
  display:block;
  //background-color:#666666;
  height : auto;
  width : 760;
  padding:1px;
  float:right;
  margin-top : -10px;
  overflow : hidden;
  //border:1px solid #000000;
}

#menu-footer li{
  float:left;
  padding:1px 10px;
  border-right:1px solid #000000;
  list-style:none;
}
#menu-footer li a{
  color : black;
  font-family:"Times New Roman", Times, serif;
  text-decoration:none;
}
#menu-footer li a:hover{ 
	color:#0000FF;
}

